h1  
    {
    color:rgb(8, 7, 7);
    font-size: 25pt;
    text-align: center;
    }


p{
    color: rgb(7, 7, 7);
}

a
{font-size: medium;
    font-style: oblique;
    display: contents;

}

div
{text-align: center;
}

body
{background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);}